<% title "Articles" %>

<div id="tag_cloud">
<% tag_cloud Article.tag_counts, %w[s m l] do |tag, css_class| %>
<%= link_to tag.name, tag_path(tag.name), class: css_class %>
<% end %>
</div>

  <% for article in @articles %>
       <h2><%= link_to article.name,article %></h2>
           <%= article.content %>
         <p> Tags:  <%= raw  article.tag_list .map { |t| link_to t, tag_path(t)}.join(', ') %> </p>
 
  <% end %>


<p><%= link_to "New Article", new_article_path %></p>
